.icon-container:hover {
	box-shadow: 0 4px 8px rgba(26, 25, 25, 0.2) !important;
	transition: all 0.4s ease !important;
	cursor: pointer;
}
.icon-container {
	width: 32px;
	height: 32px;
}
.btn-day {
	width: 52px;
	font-size: 12px;
	height: 55px;
}
.btn-day:hover {
	background-color: #7c1fd1;
	color: white;
}
.btn-day-active {
	background-color: #7c1fd1 !important;
	color: white;
}
.day-date {
	font-size: 14px;
}
